extends layout

block content
    h1= title
    script.
        var error = '#{error}';
    if error
        p Error: #{error}
    - var label_classes = ['col-md-4', 'control-label']
    div(class="col-md-6 col-md-offset-3")
        form.form-horizontal(id="signup", method="POST", action="/user/signup")
            div.form-group
                label(class=label_classes, for='username') User Name
                div(class="col-sm-5")
                    input(class="form-control", type='text', name='username')
            div.form-group
                label(class=label_classes, for='password') Password
                div(class="col-sm-5")
                    input(class="form-control", type='password', name='password')
            div.form-group
                label(class=label_classes, for='password') Confirm password
                div(class="col-sm-5")
                    input(class="form-control", type='password', name='password-confirmation')
            div.form-group
                div(class="col-sm-offset-4 col-sm-10")
                    input(class='btn btn-primary', type="submit", value="Log In")