extends layout

block content
    if username
        script
            | var user = '#{username}';
        div( style='text-align:right')
            a(href='/user/logout') Logout
        p Welcome #{username}
        br
        br
        if address
            h3 Receive
            div
                p Address: #{address}
            div
                p Balance: #{balance}
            div
                form(name='refresh_address', action='/user/refresh_address', method='post')
                    input(type='hidden', name='username', value='#{username}')
                    input(type='submit', value='Refresh address')

        if balance > 0 && address
            h3 Send
            form(name='send', action='/user/send', method='post')
                div
                    label(for='amount') Amount
                    input#amount(type='text', name='amount')
                div
                    label(for='destination_address') Address
                    input#destination_address(type='text', name='destination_address')
                div
                input(type='submit', value='Send')

    else
        p No user
        p
            a(href='/user/login') Login
        p
            a(href='/user/signup') Signup
